html {
  scroll-behavior: smooth;
}
body{
    color: #C5C6C7;
    background-color: #0B0c10;
}
a:link{
    color: #66FCF1;
    background: rgba(31, 40, 51, 0.3);
    padding: 5px;
    font-size: 20px;
}
a:visited{
    color:#66FCF1;
}
a:hover{
    color: #45A29E;
}
.bar{
    position: sticky;
    top: 0;
}
h2{
    width: 25%;
    background-color: #4ee6da;
    padding: 10px;
    color: #1F2833;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 5px solid #0B0c10;
}
.column {
        border-top: 3px solid #66FCF1;
        border-bottom: 3px solid #66FCF1;
    float: left;
    background: #1F2833 ;
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
}
.left {
  width: 70%;
}

.right {
  width: 20%;
}
.mainRow:after {
  content: "";
  display: table;
  clear: both;
}/*

.miniColumn {
    float: left;
}
.title{
    width: 30%;
}
.releaseYear{
    width: 10%;
}
.runtime{
    width: 10%
}
.ageRestriction{
    width: 10%
}
.rating{
    width: 10%
}
.miniRow:after {
  content: "";
  display: table;
  clear: both;
}
.miniRow{
    padding: 80px;
}*/

table{
    width: 100%;
    text-align: left;
}