{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">Movie</h1>
    <div class="bar">
        <a href="#watching">Watching</a>
        <a href="#towatch">Plan To Watch</a>
        <a href="#completed">Completed</a>
        <a href="#abandoned">Abandoned</a>
        <a href="{{ url_for('movies.add_movie') }}" class="button">New Movie</a>
    </div>
    <div class="box">
        <div class="mainRow">
            <div class="column left">
                <h2 id="watching">Watching</h2>
                <table style="width:100%">
                    <tr>
                        <th style="width:40%">Title</th>
                        <th style="width:10%">Release Date</th>
                        <th style="width:10%">Runtime</th>
                        <th style="width:10%">Restrictions</th>
                        <th style="width:10%">Rating</th>
                    </tr>

                    {% for movie in watching %}
                        <tr>
                            <td style="width:40%" class="miniColumn title">{{ movie.title }}</td>
                            <td style="width:12%" class="miniColumn releaseYear">{{ movie.startYear }}</td>
                            <td style="width:12%" class="miniColumn runtime">{{ movie.runtime }} minutes</td>
                            <td style="width:12%" class="miniColumn ageRestriction">{{ movie.ageRestriction }}</td>
                            <td style="width:12%" class="miniColumn rating">{{ movie.rating }}/10</td>
                            <td style="width:12%">
                                <a href="{{ url_for('movies.update_movie', id=movie.id)}}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h2 id="towatch">Plan To Watch</h2>
                <table style="width:100%">
                    <tr>
                        <th style="width:40%">Title</th>
                        <th style="width:10%">Release Date</th>
                        <th style="width:10%">Runtime</th>
                        <th style="width:10%">Restrictions</th>
                        <th style="width:10%">Rating</th>
                    </tr>

                    {% for movie in toWatch %}
                        <tr>
                            <td style="width:40%" class="miniColumn title">{{ movie.title }}</td>
                            <td style="width:12%" class="miniColumn releaseYear">{{ movie.startYear }}</td>
                            <td style="width:12%" class="miniColumn runtime">{{ movie.runtime }} minutes</td>
                            <td style="width:12%" class="miniColumn ageRestriction">{{ movie.ageRestriction }}</td>
                            <td style="width:12%" class="miniColumn rating">{{ movie.rating }}/10</td>
                            <td style="width:12%">
                                <a href="{{ url_for('movies.update_movie', id=movie.id)}}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h2 id="completed">Completed</h2>
                 <table style="width:100%">
                    <tr>
                        <th style="width:40%">Title</th>
                        <th style="width:10%">Release Date</th>
                        <th style="width:10%">Runtime</th>
                        <th style="width:10%">Restrictions</th>
                        <th style="width:10%">Rating</th>
                    </tr>

                    {% for movie in completed %}
                        <tr>
                            <td style="width:40%" class="miniColumn title">{{ movie.title }}</td>
                            <td style="width:12%" class="miniColumn releaseYear">{{ movie.startYear }}</td>
                            <td style="width:12%" class="miniColumn runtime">{{ movie.runtime }} minutes</td>
                            <td style="width:12%" class="miniColumn ageRestriction">{{ movie.ageRestriction }}</td>
                            <td style="width:12%" class="miniColumn rating">{{ movie.rating }}/10</td>
                            <td style="width:12%">
                                <a href="{{ url_for('movies.update_movie', id=movie.id)}}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h2 id="abandoned">Abandoned</h2>
                 <table style="width:100%">
                    <tr>
                        <th style="width:40%">Title</th>
                        <th style="width:10%">Release Date</th>
                        <th style="width:10%">Runtime</th>
                        <th style="width:10%">Restrictions</th>
                        <th style="width:10%">Rating</th>
                    </tr>

                    {% for movie in abandoned %}
                        <tr>
                            <td style="width:40%" class="miniColumn title">{{ movie.title }}</td>
                            <td style="width:12%" class="miniColumn releaseYear">{{ movie.startYear }}</td>
                            <td style="width:12%" class="miniColumn runtime">{{ movie.runtime }} minutes</td>
                            <td style="width:12%" class="miniColumn ageRestriction">{{ movie.ageRestriction }}</td>
                            <td style="width:12%" class="miniColumn rating">{{ movie.rating }}/10</td>
                            <td style="width:12%">
                                <a href="{{ url_for('movies.update_movie', id=movie.id)}}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="column right">
                <h2>Filter</h2>

            </div>
        </div>
    </div>
{% endblock %}