{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">Movie</h1>

    <div class="mainRow">
     <div class="main">...</div>
        <h2>Watching</h2>
        {% for movie in watching %}
            <div class="miniRow">
                <div id="title">{{ movie.title }}</div>
                                <div id="releaseYear">{{ movie.startYear }}</div>
                                <div id="title"></div>
                                <div id="title"></div>
            </div>
     <div class="side">...</div>
</div>
{% endblock %}