{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">Add New Post</h1>
    <div class="box" id="form">
        <form method="POST">
            <h3>TV Show Title</h3>
            <div class="field">
                {{ form2.hidden_tag() }}
                <div class="control">
                    {{ form2.title(class="input", placeholder="Title") }}
                </div>
                <div class="error">
                    {% for error in form2.title.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
                    <h3>Start Year</h3>
            <div class="field">
                <div class="control">
                    {{ form2.startYear(class="input", placeholder="startYear") }}
                </div>
                <div class="error">
                    {% for error in form2.startYear.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        <h3>End Year</h3>
            <div class="field">
                <div class="control">
                    {{ form2.endYear(class="input", placeholder="endYear") }}
                </div>
                <div class="error">
                    {% for error in form2.endYear.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        <h3>Current Episode</h3>
            <div class="field">
                <div class="control">
                    {{ form2.current_episode(class="input", placeholder="Current episode") }}
                </div>
                <div class="error">
                    {% for error in form2.current_episode.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        <h3>Episodes</h3>
            <div class="field">
                <div class="control">
                    {{ form2.episodes(class="input", placeholder="Episodes") }}
                </div>
                <div class="error">
                    {% for error in form2.episodes.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        <h3>Current Season</h3>
            <div class="field">
                <div class="control">
                    {{ form2.current_season(class="input", placeholder="Current season") }}
                </div>
                <div class="error">
                    {% for error in form2.current_season.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        <h3>Seasons</h3>
            <div class="field">
                <div class="control">
                    {{ form2.seasons(class="input", placeholder="Seasons") }}
                </div>
                <div class="error">
                    {% for error in form2.seasons.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        <h3>Watch Status</h3>
            <div class="field">
                <div class="control">
                    {{ form2.watchStatus(class="input", placeholder="watchStatus") }}
                </div>
                <div class="error">
                    {% for error in form2.watchStatus.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        <h3>Age Restriction</h3>
            <div class="field">
                <div class="control">
                    {{ form2.ageRestriction(class="input", placeholder="ageRestriction") }}
                </div>
                <div class="error">
                    {% for error in form2.ageRestriction.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        <h3>Rating</h3>
            <div class="field">
                <div class="control">
                    {{ form2.rating(class="input", placeholder="rating") }}
                </div>
                <div class="error">
                    {% for error in form2.rating.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div>
                {{ form2.submit(class="button is-info is-centered") }}
            </div>
        </form>
    </div>
{% endblock %}