{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">TVshow</h1>
    <div class="bar">
        <a href="#watching">Watching</a>
    <a href="#towatch">Plan To Watch</a>
    <a href="#completed">Completed</a>
    <a href="#abandoned">Abandoned</a>
    <a href="{{ url_for('tvshows.add_tvshow') }}" class="button">New TV Shows</a>
    </div>
    <div class="box">
        <div class="mainRow">
            <div class="column left">
                <h2 id="watching">Watching</h2>
                {% for tvshow in watching %}
                    <div class="miniRow">
                        <div class="miniColumn title">{{ tvshow.title }}</div>
                        <div class="miniColumn releaseYear">{{ tvshow.startYear }}</div>
                        <div class="miniColumn runtime">{{ tvshow.endYear }}</div>
                        <div class="miniColumn ageRestriction">{{ tvshow.ageRestriction }}</div>
                        <div class="miniColumn rating">{{ tvshow.rating }}/10</div>
                    </div>
                {% endfor %}
                <h2 id="towatch">Plan To Watch</h2>
                {% for tvshow in toWatch %}
                    <div class="miniRow">
                        <div class="miniColumn title">{{ tvshow.title }}</div>
                        <div class="miniColumn releaseYear">{{ tvshow.startYear }}</div>
                        <div class="miniColumn runtime">{{ tvshow.endYear }}</div>
                        <div class="miniColumn ageRestriction">{{ tvshow.ageRestriction }}</div>
                        <div class="miniColumn rating">{{ tvshow.rating }}/10</div>
                    </div>
                {% endfor %}
                <h2 id="completed">Completed</h2>
                {% for tvshow in completed %}
                    <div class="miniRow">
                        <div class="miniColumn title">{{ tvshow.title }}</div>
                        <div class="miniColumn releaseYear">{{ tvshow.startYear }}</div>
                        <div class="miniColumn runtime">{{ tvshow.endYear }}</div>
                        <div class="miniColumn ageRestriction">{{ tvshow.ageRestriction }}</div>
                        <div class="miniColumn rating">{{ tvshow.rating }}/10</div>
                    </div>
                {% endfor %}
                <h2 id="abandoned">Abandoned</h2>
                {% for tvshow in abandoned %}
                    <div class="miniRow">
                        <div class="miniColumn title">{{ tvshow.title }}</div>
                        <div class="miniColumn releaseYear">{{ tvshow.startYear }}</div>
                        <div class="miniColumn runtime">{{ tvshow.endYear }}</div>
                        <div class="miniColumn ageRestriction">{{ tvshow.ageRestriction }}</div>
                        <div class="miniColumn rating">{{ tvshow.rating }}/10</div>
                    </div>
                {% endfor %}
            </div>
            <div class="column right">
                <h2>Filter</h2>

            </div>
        </div>
    </div>
{% endblock %}