{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">TV Show List</h1>
    <div class="bar">
        <a href="#watching">Watching</a>
        <a href="#towatch">Plan To Watch</a>
        <a href="#completed">Completed</a>
        <a href="#abandoned">Abandoned</a>
        <a href="{{ url_for('tvshows.add_tvshow') }}" class="button">New TV Show</a>
    </div>
    <div class="box">
        <div class="mainRow">
            <div class="column left">
                <h2 id="watching">Watching</h2>
                <table style="width:100%">
                    <tr>
                        <th style="width:35%">Title</th>
                        <th style="width:8%">Start Date</th>
                        <th style="width:8%">End Date</th>
                        <th style="width:12%">Episodes</th>
                        <th style="width:12%">Seasons</th>
                        <th style="width:5%">Restrictions</th>
                        <th style="width:10%">Rating</th>
                    </tr>

                    {% for tvshow in watching %}
                        <tr>
                            <td style="width:35%" class="miniColumn title">{{ tvshow.title }}</td>
                            <td style="width:8%" class="miniColumn startYear">{{ tvshow.startYear }}</td>
                            <td style="width:8%" class="miniColumn endYear">{{ tvshow.endYear }}</td>
                            <td style="width:12%" class="miniColumn episodes">{{ tvshow.current_episode }}/{{ tvshow.episodes }} </td>
                            <td style="width:12%" class="miniColumn seasons">{{ tvshow.current_season }}/{{ tvshow.seasons }} </td>
                            <td style="width:5%" class="miniColumn ageRestriction">{{ tvshow.ageRestriction }}</td>
                            <td style="width:10%" class="miniColumn rating">{{ tvshow.rating }}/10</td>
                            <td style="width:10%">
                                <a href="{{ url_for('tvshows.update_tvshow', id=tvshow.id) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h2 id="towatch">Plan To Watch</h2>
                <table style="width:100%">
                    <tr>
                        <th style="width:40%">Title</th>
                        <th style="width:10%">Start Date</th>
                        <th style="width:10%">End Date</th>
                        <th style="width:10%">Episodes</th>
                        <th style="width:10%">Seasons</th>
                        <th style="width:10%">Restrictions</th>
                        <th style="width:10%">Rating</th>
                    </tr>

                    {% for tvshow in toWatch %}
                        <tr>
                           <td style="width:40%" class="miniColumn title">{{ tvshow.title }}</td>
                            <td style="width:12%" class="miniColumn startYear">{{ tvshow.startYear }}</td>
                            <td style="width:12%" class="miniColumn endYear">{{ tvshow.endYear }}</td>
                            <td style="width:12%" class="miniColumn episodes">{{ tvshow.current_episode }}/{{ tvshow.episode }} </td>
                            <td style="width:12%" class="miniColumn seasons">{{ tvshow.current_season }}/{{ tvshow.seasons }} </td>
                            <td style="width:12%" class="miniColumn ageRestriction">{{ tvshow.ageRestriction }}</td>
                            <td style="width:12%" class="miniColumn rating">{{ tvshow.rating }}/10</td>
                            <td style="width:12%">
                                <a href="{{ url_for('tvshows.update_tvshow', id=tvshow.id) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h2 id="completed">Completed</h2>
                 <table style="width:100%">
                    <tr>
                        <th style="width:40%">Title</th>
                        <th style="width:10%">Start Date</th>
                        <th style="width:10%">End Date</th>
                        <th style="width:10%">Episodes</th>
                        <th style="width:10%">Seasons</th>
                        <th style="width:10%">Restrictions</th>
                        <th style="width:10%">Rating</th>
                    </tr>

                    {% for tvshow in completed %}
                        <tr>
                           <td style="width:40%" class="miniColumn title">{{ tvshow.title }}</td>
                            <td style="width:12%" class="miniColumn startYear">{{ tvshow.startYear }}</td>
                            <td style="width:12%" class="miniColumn endYear">{{ tvshow.endYear }}</td>
                            <td style="width:12%" class="miniColumn episodes">{{ tvshow.current_episode }}/{{ tvshow.episode }} </td>
                            <td style="width:12%" class="miniColumn seasons">{{ tvshow.current_season }}/{{ tvshow.seasons }} </td>
                            <td style="width:12%" class="miniColumn ageRestriction">{{ tvshow.ageRestriction }}</td>
                            <td style="width:12%" class="miniColumn rating">{{ tvshow.rating }}/10</td>
                            <td style="width:12%">
                                <a href="{{ url_for('tvshows.update_tvshow', id=tvshow.id) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h2 id="abandoned">Abandoned</h2>
                 <table style="width:100%">
                    <tr>
                        <th style="width:40%">Title</th>
                        <th style="width:10%">Start Date</th>
                        <th style="width:10%">End Date</th>
                        <th style="width:10%">Episodes</th>
                        <th style="width:10%">Seasons</th>
                        <th style="width:10%">Restrictions</th>
                        <th style="width:10%">Rating</th>
                    </tr>

                    {% for tvshow in abandoned %}
                        <tr>
                          <td style="width:40%" class="miniColumn title">{{ tvshow.title }}</td>
                            <td style="width:12%" class="miniColumn startYear">{{ tvshow.startYear }}</td>
                            <td style="width:12%" class="miniColumn endYear">{{ tvshow.endYear }}</td>
                            <td style="width:12%" class="miniColumn episodes">{{ tvshow.current_episode }}/{{ tvshow.episode }} </td>
                            <td style="width:12%" class="miniColumn seasons">{{ tvshow.current_season }}/{{ tvshow.seasons }} </td>
                            <td style="width:12%" class="miniColumn ageRestriction">{{ tvshow.ageRestriction }}</td>
                            <td style="width:12%" class="miniColumn rating">{{ tvshow.rating }}/10</td>
                            <td style="width:12%">
                                <a href="{{ url_for('tvshows.update_tvshow', id=tvshow.id) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="column right">
                <h2>Filter</h2>

            </div>
        </div>
    </div>
{% endblock %}