{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">Add New</h1>

    <div class="box">
        <form method="POST">
            <h3>Edit Movie</h3>
            <div class="field">
                {{ form.hidden_tag() }}
                <div class="control">
                    {{ form.title(class="input", placeholder="Title") }}
                </div>
                <div class="error">
                    {% for error in form.title.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.startYear(class="input", placeholder="startYear") }}
                </div>
                <div class="error">
                    {% for error in form.startYear.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.runtime(class="input", placeholder="runtime") }}
                </div>
                <div class="error">
                    {% for error in form.runtime.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.watchStatus(class="input", placeholder="watchStatus") }}
                </div>
                <div class="error">
                    {% for error in form.watchStatus.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.ageRestriction(class="input", placeholder="ageRestriction") }}
                </div>
                <div class="error">
                    {% for error in form.ageRestriction.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.rating(class="input", placeholder="rating") }}
                </div>
                <div class="error">
                    {% for error in form.rating.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
{#                                                <div class="field">#}
{#                                                    <div class="control">#}
{#                                                        {{ form.genres(class="input", placeholder="genres") }}#}
{#                                                    </div>#}
{#                                                    <div class="error">#}
{#                                                        {% for error in form.genres.errors %}#}
{#                                                            {{ error }}#}
{#                                                        {% endfor %}#}
{#                                                    </div>#}
{#                                                </div>#}
            <div>
                <button onclick="closeForm()">{{ form.submit(class="button is-info is-centered") }}
                </button>
            </div>
        </form>
    </div>
{% endblock %}