{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">Add New</h1>

    <div class="box">
        <form method="POST">
            <h3>Edit Movie</h3>
            <div class="field">
                {{ form.hidden_tag() }}
                <div class="control">
                    {{ form.title(class="input", placeholder="Title") }}
                </div>
                <div class="error">
                    {% for error in form.title.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.startYear(class="input", placeholder="Start Year") }}
                </div>
                <div class="error">
                    {% for error in form.startYear.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
                    <div class="field">
                <div class="control">
                    {{ form.startYear(class="input", placeholder="End Year") }}
                </div>
                <div class="error">
                    {% for error in form.startYear.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.current_episode(class="input", placeholder="Current episode") }}
                </div>
                <div class="error">
                    {% for error in form.current_episode.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
                    <div class="field">
                <div class="control">
                    {{ form.episodes(class="input", placeholder="Episodes") }}
                </div>
                <div class="error">
                    {% for error in form.episodes.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
                    <div class="field">
                <div class="control">
                    {{ form.current_season(class="input", placeholder="Current season") }}
                </div>
                <div class="error">
                    {% for error in form.current_season.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
                    <div class="field">
                <div class="control">
                    {{ form.seasons(class="input", placeholder="Seasons") }}
                </div>
                <div class="error">
                    {% for error in form.seasons.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.watchStatus(class="input", placeholder="Watch Status") }}
                </div>
                <div class="error">
                    {% for error in form.watchStatus.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.ageRestriction(class="input", placeholder="Age Restriction") }}
                </div>
                <div class="error">
                    {% for error in form.ageRestriction.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.rating(class="input", placeholder="Rating") }}
                </div>
                <div class="error">
                    {% for error in form.rating.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div>
                <button onclick="closeForm()">{{ form.submit(class="button is-info is-centered") }}
                </button>
            </div>
        </form>
    </div>
{% endblock %}